<div class="toolbar" role="banner">
    <a href="#">
        <img width="40" alt="Angular Logo" src="../../assets/icons/handbag-fill.svg" />
        <span>Home</span></a>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="#" title="Twitter">
        สินค้าและบริการ
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      ติดต่อเจ้าหน้าที่
    </a>
    <app-searchbar></app-searchbar>
</div>