<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <a href="#">
                            <img src="../../assets/icons/cart.svg" class="icon-size " alt="">
                            <br>
                            <span>โค้คจัดส่งฟรี</span>
                        </a>   
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img src="../../assets/icons/controller.svg" class="icon-size" alt="">
                            <br>
                            <span>เล่นเกม</span>
                        </a>   
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img src="../../assets/icons/handbag-fill.svg" class="icon-size" alt="">
                            <br>
                            <span>กระเป๋าของฉัน</span>
                        </a>   
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img src="../../assets/icons/laptop.svg" class="icon-size" alt="">
                            <br>
                            <span>อุปกรณ์อิเล็กทรอนิก</span>
                        </a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>